.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: linear-gradient(to right, #0066cc 0%, #66ff99 100%);
    color: #FFF;
    border: 0;
    font-size: 1.4em;
    padding : 0% 0%;

}
.navbar-brand {
    float: left;
    min-height: 40px;
    padding-left: 50px;
    padding-top: 0px;
}
.navbar-inverse .navbar-nav .active a ,.navbar-inverse .navbar-nav .active a:hover,.navbar-inverse .navbar-nav .active a:focus{
    color: #FFF;
    background-color: transparent;
}
.navbar-inverse .navbar-nav li a {/*while not hovering*/
    color : #263238;
    padding-top: 5px;
}

@media (max-width: 600px) {
    .carousel-caption   {
        display:none;
    }
    
}

footer  {
    color:#FFF;
    background: #263238;
    width: 100%;
    height: 100%;
    padding:3%;

}
.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}
.fa:hover{
    color: #2bbbad;
    text-decoration: none;
}
@media (max-width: 910px) {
    .fa{
        font-size: 20px;
        padding: 10px;
    }
}
.logout-btn{
    border-radius: 0px;
    background-color: transparent;
    font-size: 20px;
    border-style: none;

}
.logout-btn:hover{
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.45);
    background-color: transparent;
}
.text-justify{
    background: linear-gradient(to right, #66ff99 0%, #0066cc 100%);
    padding: 0.5% 10%;
    color: #FFF;
    word-wrap: break-word;
}
h2{
    text-align: right;
    padding: 0%;

}
a.myclass{
    color: #FFF ;
    text-decoration: none;
}
a.myclass:hover{
    color: #66ff99 ;
    text-align: right;
}
.container{
    background-image: url(backkgroud-ques.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
}
.form-container{
    border:1px solid;
    font-family: ;
    border-color: black;
    padding: 40px 60px;
    margin-top:10vh;
    margin-bottom: 20vh;
    -webkit-box-shadow: 3px 3px 36px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 36px 7px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 36px 7px rgba(0,0,0,0.75);
}
.btn {
    background-color: transparent;
    color: #FFF;
    font-size: 30px;
    border: none;
    padding: 0%;
}
.btn:hover{
    color: #66ff99  ;
    font-size: 33px;
}
