.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: linear-gradient(to right, #0066cc 0%, #66ff99 100%);
    color: #FFF;
    border: 0;
    font-size: 1.4em;
    padding : 0% 0%;

}
.navbar-brand {
    float: left;
    min-height: 40px;
    padding-left: 50px;
    padding-top: 0px;
}
.navbar-inverse .navbar-nav .active a ,.navbar-inverse .navbar-nav .active a:hover,.navbar-inverse .navbar-nav .active a:focus{
    color: #FFF;
    background-color: transparent;
}
.navbar-inverse .navbar-nav li a {/*while not hovering*/
    color : #263238;
    padding-top: 5px;
}
.btn {
    transform: translateY(400%);
    font-size: 15px;
    color: darkslategrey;
    padding: 14px 22px;
    background: transparent  ;
    border: 2px solid #FFF;
}

.btn:hover{
    background: #34e029;
    font-size: 17px;
    text-decoration: none;
}
.carousel-caption{
    transform: translateY(-150%);
    text-shadow: 1px 1px #bb1e03;
    font-family: sans-serif;    ;
}
.carousel img {
    width:100% !important;
    min-width:100 !important;
    height: auto;
 }
@media (max-width: 600px) {
    .carousel-caption   {
        display:none;
    }
    .btn{
        display:none;
    }
}
.container {
    margin: 3% auto;
    font-family: fantasy;
}
.h2design{
    margin-top:0px;
    margin-bottom:  8px;
    color: #FFF;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
.hrefcollapse{
    margin-left: 40px;
}
footer  {
    color:#FFF;
    background: #263238;
    width: 100%;
    height: 100%;
    padding:3%;

}
.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}
.fa:hover{
    color: #2bbbad;
    text-decoration: none;
}
@media (max-width: 910px) {
    .fa{
        font-size: 20px;
        padding: 10px;
    }
}
.text-justify{
    word-wrap: break-word;
    padding-top:0;
}
.mainbackground {
    background-image: url("../Homeimg/background.png");
    background-repeat: no-rep   eat;
    border: none;
    background-size: cover;
    padding: 20px 20px;
}
.signin-btn{
    background-color: transparent;
    font-size: 20px;

}
.login-btn {
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    border-style: none;
}
.signin-btn:hover{
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.45);
    background-color: transparent;
}
.login-btn:hover{
    text-decoration: none;
    background-color: transparent;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.45);
}
#icon{
    width: 300px;
    height: 300px;
    margin: 1% auto;
    border-radius: 50%;
}
